/* body {
  background: #222d32;
  font-family: "Roboto", sans-serif;
}
.emailInput1 {
  background-color: #1a2226 !important;
  border: none !important;
  border-bottom: 2px solid #0db8de !important;
  border-top: 0px !important;
  border-radius: 0px !important ;
  font-weight: bold !important;
  outline: 0 !important;
  margin-bottom: 163px !important;
  padding-left: 0px !important;
  color: #ecf0f5 !important;
} */
